<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <title>MOE Quiz</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  </head>
  
  <body>
  <center>
     <p>
	 <h2>
		Bienvenido a Miriada X
	</h2>
		El portal donde puedes crear tus propios juegos!!!
	</p>
   </center>
   
   <div id="page-wrap">
	<header class="main" id="h1">
		<h3><font color="#0000FF">Lista de Preguntas</font></h3>
		
	</header>
	
	<section class="main" id="s1">	 
<center>		
    <table border="1" width="500">
	<tr>
		<th align="center">Categor&iacute;a</th>
		<th align="center">Pregunta</th>
		<th align="center" colspan="2">Acci&oacute;n</th>

	</tr>
		<% var i; for (i=0; i < quizes.length; i++) { %> 
	
		<td><font color="#8FBC8F"><%= quizes[i].categoria %></font></td>
		<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
	
		<td>
		<form method="get" action="/quizes/<%= quizes[i].id %>/editar">
			<button type="submit">
				Edit
			</button>
		</form>	
		</td>
		<td>
		<form method="post" action="quizes/<%= quizes[i].id %>">
			<button type="submit" onclick="return confirm('Borrar: <%= quizes[i].pregunta %>?');">
				Delete
			</button>
		</form>
		</td>
    </tr>
	<% } %>
	</table>
</center>
	
	<br>
	<span><center><a href="/quizes/nueva">Crear Preguntas</a></center></span>
	</section>
	
	<footer>
		<a href="/">Regresar</a>
	</footer>
	</div>
  </body>
</html>
